@import "../../../../styles.scss";

.modal-header-container {
  text-align: center !important;
  font-weight: 300;
  font-size: 30px;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.materialize-textarea {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.invalid-textarea {
  border-bottom: 2px solid #f44336 !important;
}

.alert-input {
  position: absolute;
  bottom: 1px;
  left: 8px;
  font-size: 11px;
  color: #f44336;
}

.alert-textarea {
  position: absolute;
  bottom: -12px;
  left: 8px;
  font-size: 11px;
  color: #f44336;
}

@media #{$small-and-down} {
  mz-modal {
    .modal {
      max-width: 100% !important;
      min-width: 100% !important;
      max-height: 100% !important;
      min-height: 100% !important;
      top: 0 !important;
    }
  }
  // styles for small screens and down
}
@media #{$medium-and-up} {
  mz-modal {
    .modal {
      max-width: 85% !important;
      min-width: 75% !important;
      max-height: 85% !important;
      min-height: 75% !important;
    }
  }
  // styles for medium screens and larger
}
@media #{$large-and-up} {
  mz-modal {
    .modal {
      max-width: 60% !important;
      min-width: 50% !important;
      max-height: 85% !important;
      min-height: 75% !important;
    }
  }
  // styles for large screens and up
}
@media #{$extra-large-and-up} {
  mz-modal {
    .modal {
      max-width: 45% !important;
      min-width: 45% !important;
      max-height: 80% !important;
      min-height: 80% !important;
    }
  }
  // styles for extra large screens and up
}

