<mz-modal #bottomSheetModal [options]="modalOptions">
  <mz-modal-header>
    <div class="modal-header-container">
      <div class="col s12 center">
        <img src="../../../assets/img/270x32.png" alt="">
      </div>
      <span>
      Задайте, пожалуйста свой вопрос!
    </span>
    </div>
  </mz-modal-header>
  <mz-modal-content>
    <form [formGroup]="orderFormModel">
        <div class="input-field col s12">
          <input type="text" formControlName="customersName" class="validate">
          <label>Как к Вам обращаться?</label>
        </div>
        <div class="input-field col s12">
          <input type="number" formControlName="telephoneNumber" class="validate">
          <label>Ваш номер телефона</label>
        </div>
        <div class="input-field col s12">
          <mz-textarea-container>
            <textarea placeholder="Введите Ваше обращение" mz-textarea id="comment-textarea" length="500"></textarea>
          </mz-textarea-container>
        </div>
    </form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Закрыть :(</button>
    <button mz-button [flat]="true" mz-modal-close>Отправить :)</button>
  </mz-modal-footer>
</mz-modal>
