<body>
<nav class="red lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <img id="logo-container" src="./assets/img/logo.png" class="brand-logo max-w-120px">
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['../dashboard']">Админ панель</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a [routerLink]="['../dashboard']">Админ панель</a></li>
    </ul>
    <a data-activates="nav-mobile" class="button-collapse pointer"><i class="material-icons">menu</i></a>
  </div>
</nav>
<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<app-footer></app-footer>
</body>
