.poehaly-brand-color-bg-1 {
  background-color: #7B1919 !important;
}
.pointer {
  cursor: pointer;
  display: inline-block;
}

.max-w-120px {
  max-width: 121px;
}

.transform-none {
  transform: none !important;
}

.max-w-100 {
  max-width:100%;
}
.max-h-100 {
  max-height:100%;
}

.p-t-5p {
  padding-top: 5px;
}

.m-0-auto {
  margin: 0 auto;
}

.f-s-13 {
  font-size: 13px !important;
}

.f-s-10 {
  font-size: 13px !important;
}

.font-bold {
  font-weight: bold;
}

.main {
  background-color: linen;
}

.text-a-l {
  text-align: left;
}

.h-21p {
  height: 21px !important;
}

.m-b--5p {
  margin-bottom: -5px !important;
}

.m-b-5p {
  margin-bottom: 5px !important;
}

.m-b-10p {
  margin-bottom: 10px !important;
}

.text-decor-un {
  text-decoration: underline;
}

.block {
  display: block;
}



.slider-nav {
  button::before {
    color: black !important;
  }
  .slick-list {
    border-radius: 10px;
  }
}
.collapsible-header {
  background-color: #ef5350;
  color: white;
  i {
    color: white;
  }
}

