<app-modal-usual [modalHeader]="'Обратите внимание!'"
                 [mainText]="'По всей видиомсти не все поля заполнены и тур не может быть сохранен. Для корректного сохранения тура нужно заполнить все поля'"
                 [open]="openAlertModal"></app-modal-usual>
<div class="row">
  <form class="col s12" [formGroup]="createTourForm" novalidate>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" formControlName="country" class="validate">
        <label>Страна</label>
      </div>
      <div class="input-field col s6">
        <input type="text" formControlName="hotelName" class="validate">
        <label>Название отеля</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" formControlName="price" class="validate">
        <label>Цена</label>
      </div>
      <div class="input-field col s6 starsSelect">
        <select formControlName="stars">
          <option value="" disabled selected>Сделайте выбор</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <label>Колличество звезд</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea formControlName="detailDescription" class="materialize-textarea"></textarea>
        <label>Подробное описание</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea formControlName="shortDescription" class="materialize-textarea" maxlength="120" data-length="120"></textarea>
        <label>Короткое описание для листа предложений</label>
      </div>
    </div>
    <app-upload-images [tourId]="tourId" (uploadedFileUrlTrigger)="onMainPhotoUpload($event)"></app-upload-images>
    <app-upload-files-multiple [tourId]="tourId" (uploadedMultipleFilesTrigger)="onFullPhotosUpload($event)"></app-upload-files-multiple>
    <div class="row">
      <input type="date" formControlName="endDate" class="datepicker" placeholder="Кликните тут для определния даты окончания предложения">
    </div>
    <button class="btn waves-effect waves-light" (click)="$event.preventDefault();createTour()"  type="button" name="action">Сохранить
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
