<div class="row">
  <form class="col s12" [formGroup]="createTourForm"  novalidate>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" formControlName="country" class="validate">
        <label>Страна</label>
      </div>
      <div class="input-field col s6">
        <input type="text" formControlName="hotelName" class="validate">
        <label>Название отеля</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" formControlName="price" class="validate">
        <label>Цена</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea formControlName="detailDescription" class="materialize-textarea"></textarea>
        <label>Подробное описание</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea formControlName="shortDescription" class="materialize-textarea" maxlength="120" data-length="120"></textarea>
        <label>Короткое описание для листа предложений</label>
      </div>
    </div>
    <div class="row">
      <div class="file-field input-field">
        <div class="btn">
          <span>Загрузить главную фотографию</span>
          <input formControlName="mainImage" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Фотография для листа предложений">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="file-field input-field">
        <div class="btn">
          <span>Загрузить галерею</span>
          <input formControlName="imageGalery" type="file" multiple>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Сюда можно загрузить несколько фотграфий для галереи">
        </div>
      </div>
    </div>
    <div class="row">
      <input type="date" formControlName="endDate" class="datepicker" placeholder="Кликните тут для определния даты окончания предложения">
    </div>
  </form>
  <button class="btn waves-effect waves-light" (click)="createTour()" type="button" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</div>
