<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" class="validate">
        <label>Страна</label>
      </div>
      <div class="input-field col s6">
        <input type="text" class="validate">
        <label>Название отеля</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" class="validate">
        <label>Цена</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea class="materialize-textarea"></textarea>
        <label>Описание</label>
      </div>
    </div>

    <div class="row">
      <div class="file-field input-field">
        <div class="btn">
          <span>Загрузить главную фотографию</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Фотография для листа предложений">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="file-field input-field">
        <div class="btn">
          <span>Загрузить галерею</span>
          <input type="file" multiple>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Сюда можно загрузить несколько фотграфий для галереи">
        </div>
      </div>
    </div>
    <div class="row">
      <input type="date" class="datepicker" placeholder="Кликните тут для определния даты окончания предложения">
    </div>
  </form>
</div>
