<!--<div class="section no-pad-bot" id="index-banner">-->
  <!--<div class="container">-->
    <!--<br><br>-->
    <!--<h1 class="header center orange-text">Starter Template</h1>-->
    <!--<div class="row center">-->
      <!--<h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>-->
    <!--</div>-->
    <!--<div class="row center">-->
      <!--<a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>-->
    <!--</div>-->
    <!--<br><br>-->

  <!--</div>-->
<!--</div>-->
<!--<div class="container">-->
  <!--<div class="section">-->
    <!--&lt;!&ndash;   Icon Section   &ndash;&gt;-->
    <!--<div class="row">-->
      <!--<div class="col s12 m4">-->
        <!--<div class="icon-block">-->
          <!--<h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>-->
          <!--<h5 class="center">Speeds up development</h5>-->

          <!--<p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col s12 m4">-->
        <!--<div class="icon-block">-->
          <!--<h2 class="center light-blue-text"><i class="material-icons">group</i></h2>-->
          <!--<h5 class="center">User Experience Focused</h5>-->

          <!--<p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col s12 m4">-->
        <!--<div class="icon-block">-->
          <!--<h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>-->
          <!--<h5 class="center">Easy to work with</h5>-->
          <!--<p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
  <!--<br><br>-->
  <!--<div class="section"></div>-->
<!--</div>-->
<div class="row">
  <div class="col s12 m6" *ngFor="let tour of toursList">
    <div class="card">
      <div class="card-image">
        <img src="https://ejourney.ru/files/img/2013/01/samye_dorogie_oteli_turcii.jpg">
        <!--<span class="card-title">Card Title</span>-->
        <a class="btn-floating halfway-fab waves-effect waves-light red" [routerLink]="['../tour']"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <div class="chip">
          <img src="./assets/img/plane.png" alt="country">
          {{tour.country}}
        </div>
        <div class="chip">
          <img src="./assets/img/money.png" alt="country">
          {{tour.price}}
        </div>
        <div>
          <span>
            <img src="./assets/img/star.png" alt="country">
            <img src="./assets/img/star.png" alt="country">
            <img src="./assets/img/star.png" alt="country">
            <img src="./assets/img/star.png" alt="country">
            <img src="./assets/img/star.png" alt="country">
          </span>
        </div>
        <h5>{{tour.hotelName}}</h5>
        <!--<div class="card-panel teal">-->
          <!--<span class="white-text">3000 UAH</span>-->
        <!--</div>-->
        <p>{{tour.shortDescription}}</p>
      </div>
    </div>
  </div>
</div>
<app-pagination></app-pagination>
