.collapsible-header {
  color: black;
  background: none;
  i {
    color: black;
  }
  .cross-container {
    float: right;
    i {
      color: red;
    }
  }

  .bold {
    font-weight: bold;
  }

  .td-text {
    white-space: normal !important;
    text-align: left !important;
  }

  .cross-container :hover {
    color: gray;
    transition: 500ms;
  }
}
