<ul id="slide-out" class="side-nav">
  <li><div class="userView">
    <div class="background"></div>
    <a><img class="circle shut-down" src="https://s.tcdn.co/163/0f3/1630f39d-45fe-3d77-8d1d-1b2cf25f380d/192/1.png"></a>
  </div></li>
  <!--<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>-->
  <!--<li><a href="#!">Second Link</a></li>-->
  <li><div class="divider"></div></li>
  <!--<li><a class="subheader">Subheader</a></li>-->
  <li><a class="waves-effect" [routerLink] ="['create-new-tour']">Создать новое предложение</a></li>
  <li><a class="waves-effect" [routerLink] ="['../registration']">Зарегистрировать новго пользователя</a></li>
  <li><a class="waves-effect" [routerLink] ="['../portal/tour-listing']">Список предложений</a></li>
  <li><a class="waves-effect" (click)="singOut()">Выйти</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="medium material-icons">menu</i></a>
<div class="container">
  <router-outlet></router-outlet>
</div>
