<div class="row">
  <div class="file-field input-field col s12 m8">
    <div class="btn">
      <span>Загрузить галерею</span>
      <input (change)="onSelectImages($event)" formControlName="imageGalery" type="file" multiple>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Сюда можно загрузить несколько фотграфий для галереи">
    </div>
  </div>
  <!--<div class="preloader-wrapper active">-->
    <!--<div class="spinner-layer spinner-red-only">-->
      <!--<div class="circle-clipper left">-->
        <!--<div class="circle"></div>-->
      <!--</div><div class="gap-patch">-->
      <!--<div class="circle"></div>-->
    <!--</div><div class="circle-clipper right">-->
      <!--<div class="circle"></div>-->
    <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
