<div class="row">
  <div class="col s12 center">
    <div class="tour-header-container col s12 text-a-l m-b-5p">
      <div class="col s9">
        <h5 class="tour-header_tour-title-line">{{tourModel?.hotelName}}</h5>
        <p class="tour-header_tour-contry-stars-line" *ngIf="tourModel?.country">
          <span class="tour-header_tour-country">
            {{tourModel?.country}} ({{tourModel?.city}})
          </span>
          <span class="tour-header_tour-stars">
            <img class="h-21p" src="./assets/img/star.png" alt="country"
                 *ngFor="let star of _.range(0,tourModel?.stars)">
          </span>
        </p>
      </div>
      <div class="col s3 tour-header_price-container">
        <h5 class="center-align">
          {{tourModel?.price | currency:'USD':true:'1.0'}}
        </h5>
      </div>
    </div>
  </div>
  <div class="col s12 l9 m12 slider-container">
    <div class="slider-for center">
      <div *ngFor="let bigImage of tourModel?.fullImageGalery">
        <img class="max-w-100 max-h-100 m-0-auto pointer" (load)="finishedLoadingImg()" [src]="bigImage" alt="">
      </div>
    </div>
    <div class="slider-nav p-t-5p">
      <div *ngFor="let bigImage of tourModel?.fullImageGalery" class="image-list">
        <img class="max-w-100 max-h-100 m-0-auto pointer" [src]="bigImage" alt="">
      </div>
    </div>
  </div>
  <div class="col s12 m12 l3">
    <div class="card-panel teal z-depth-5">
      <p class="white-text"><i class="material-icons">short_text</i>
        {{tourModel?.shortDescription}}
      </p>
    </div>
    <!--<div class="card-panel light-green p-5p z-depth-5">-->
      <!--<h5 class="white-text center-align">-->
        <!--{{tourModel?.price | currency:'USD':true:'1.0'}}-->
      <!--</h5>-->
    <!--</div>-->
  </div>
  <div class="col s12">
    <mz-collapsible
      [mode]="'expandable'"
      [popout]="false"
      class="all-packages">
      <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header>
          <i mz-icon
             [align]="'left'"
             [icon]="'description'"
             [size]="'medium'">
          </i>
          Общая информация
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          <div [innerHtml]="tourModel?.detailDescription"></div>
        </mz-collapsible-item-body>
      </mz-collapsible-item>
      <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header>
          <i class="fa fa-file-video-o" aria-hidden="true"></i>
          Видео
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          <div class="video-container" *ngIf="tourModel?.video">
            <iframe width="853" height="480" [src]="tourModel?.video" frameborder="0" allowfullscreen></iframe>
          </div>
        </mz-collapsible-item-body>
      </mz-collapsible-item>
      <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header>
          <i mz-icon
             [align]="'left'"
             [icon]="'my_location'"
             [size]="'medium'">
          </i>
          Детали местонахождения отеля
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          <div class="row">
            <span class="block m-b-10p p-l-8p">Мето нахождения отеля:
              <span class="text-decor-un font-bold"> {{tourModel?.hotelLocation?.addressName}}</span>
            </span>
            <!--<app-google-map-iframe [tourLocation]="tourModel?.hotelLocation"></app-google-map-iframe>-->
            <app-google-map-autocomplete *ngIf="alreadyLoaded" [tourLocation]="tourModel?.hotelLocation"
                                         [readOnly]="true"></app-google-map-autocomplete>
          </div>
        </mz-collapsible-item-body>
      </mz-collapsible-item>
      <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header>
          <i mz-icon
             [align]="'left'"
             [icon]="'card_travel'"
             [size]="'medium'">
          </i>
          Пакет тура и сервисы отеля
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          <div class="row">
            <div class="col s12 m6 tour-package">
              <blockquote>
                Включено в стоимость
              </blockquote>
              <ul class="collection m-t-0p">
                <li class="collection-item">
                  <i class="fa fa-plane" aria-hidden="true"></i>
                  <span>Вылет из {{tourModel?.departure}}</span>
                </li>
                <li>
                  <i class="fa fa-ticket" aria-hidden="true"></i>
                  <span *ngIf="tourModel?.flightIncluded">Перелет включен</span>
                  <span *ngIf="!tourModel?.flightIncluded">Перелет не включен</span>
                </li>
                <li class="collection-item">
                  <i class="fa fa-calendar" aria-hidden="true"></i> Вылет {{tourModel?.endDate | date:"dd.MM.yy"}}
                </li>
                <li class="collection-item">
                  <i class="fa fa-cutlery" aria-hidden="true"></i>
                  <span>{{tourModel?.supply.label}}</span>
                  <p class="f-s-10 m-t-2p m-b-2p">*{{tourModel?.supply.value}}</p>
                </li>
                <li class="collection-item">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  <span>
                    {{tourModel?.adults}} взрослых
                  </span>
                  <span *ngIf="tourModel?.children && (tourModel?.children > 0)">
                    {{tourModel?.children}} детей
                  </span>
                </li>
                <li class="collection-item">
                  <i class="fa fa-bed" aria-hidden="true"></i> {{tourModel?.days}} дней {{tourModel?.nights}} ночей
                </li>
                <li class="collection-item">
                  <i class="fa fa-bus" aria-hidden="true"></i> Трансфер включен
                </li>
                <li class="collection-item">
                  <i class="fa fa-suitcase" aria-hidden="true"></i> 23кг включен
                </li>
              </ul>
            </div>
            <div class="col s12 m6 tour-service-list">
              <blockquote>
                Сервисы отеля
              </blockquote>
              <ul class="collection">
                <li class="collection-item" *ngFor="let service of tourModel?.serviceList">
                  <i class="tiny material-icons">done</i>
                  {{service}}
                </li>
              </ul>
            </div>
          </div>
        </mz-collapsible-item-body>
      </mz-collapsible-item>
    </mz-collapsible>
  </div>
  <div class="row">
    <div class="col s12 center">
      <a class="white-text center-align btn pulse" (click)="openServiceModal(tourModel.id, tourModel.hotelName)">
        Оставить заявку
      </a>
    </div>
  </div>
</div>
