<div class="row">
  <div class="col s12 center">
    <div class="col s12 m8 text-a-l m-b-5p">
      <h5 class="m-b--5p">{{tourModel?.hotelName}} <img class="h-21p" src="./assets/img/star.png" alt="country" *ngFor="let star of tourModel?.stars"></h5>
      <span *ngIf="tourModel?.country">
          {{tourModel?.country}} ({{tourModel?.city}} )
      </span>
    </div>
  </div>
  <div class="col s12 m8 slider-container">
    <div class="slider-for center">
      <div *ngFor="let bigImage of tourModel?.fullImageGalery">
        <img class="max-w-100 max-h-100 m-0-auto pointer" [src]="bigImage" alt="">
      </div>
    </div>
    <div class="slider-nav p-t-5p">
      <div *ngFor="let bigImage of tourModel?.fullImageGalery">
        <img class="max-w-100 max-h-100 m-0-auto pointer" [src]="bigImage" alt="">
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel teal">
          <p class="white-text"><i class="material-icons">place</i>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </p>
          <p class="white-text"><i class="material-icons">whatshot</i>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </p>
    </div>
  </div>
  <div class="col s12">
    <mz-collapsible
      [mode]="'expandable'"
      [popout]="false">
      <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header>
          <i mz-icon
             [align]="'left'"
             [icon]="'description'"
             [size]="'medium'">
          </i>
          Общая информация
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          {{tourModel?.detailDescription}}
        </mz-collapsible-item-body>
      </mz-collapsible-item>
      <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header>
          <i mz-icon
             [align]="'left'"
             [icon]="'my_location'"
             [size]="'medium'">
          </i>
          Детали местонахождения отеля
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          <div class="row">
            <span class="block m-b-10p">Мето нахождения отеля:
              <span class="text-decor-un font-bold"> {{tourModel?.hotelLocation?.addressName}}</span>
            </span>
            <app-google-map-iframe [tourLocation]="tourModel?.hotelLocation"></app-google-map-iframe>
          </div>
        </mz-collapsible-item-body>
      </mz-collapsible-item>
      <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header>
          <i mz-icon
             [align]="'left'"
             [icon]="'room_service'"
             [size]="'medium'">
          </i>
          Услугах отеля
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          <ul class="collection">
            <li class="collection-item" *ngFor="let service of tourModel?.serviceList">
              <i class="tiny material-icons">done</i>
              {{service}}
            </li>
          </ul>
        </mz-collapsible-item-body>
      </mz-collapsible-item>
      <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header>
          <i mz-icon
             [align]="'left'"
             [icon]="'card_travel'"
             [size]="'medium'">
          </i>
          Включено в стоимость тура
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </mz-collapsible-item-body>
      </mz-collapsible-item>
    </mz-collapsible>
  </div>
</div>
