<div class="row">
    <div class="file-field input-field col s12 m8">
      <div class="btn">
        <span>Выбрать главное фото</span>
        <input (change)="onUploadfFile($event)" formControlName="mainPhotoUrl"  accept="image/*" type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Фотография для листа предложений">
      </div>
    </div>
  <a class="btn-floating btn-large waves-effect waves-light red" (click)="saveFiles()" ><i class="material-icons">add</i></a>
</div>
